<div class="container">
  <div class="card productos">

    <div class="card-header">
      Productos
    </div>

    <div class="card-body" *ngFor="let producto of productos">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-fluid img-thumbnail" [src]="producto.urlImagen">
        </div>

        <div class="col-12 col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>{{producto.titulo}}</strong></h4>
          <h4>
            <small>{{producto.descripcion}}</small>
          </h4>
        </div>

        <div class="col-12 col-sm-12 col-md-4 text-md-right row">

          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>$ {{producto.precioUnitario | number:'1.0-2'}}</strong></h6>
          </div>

          <div class="col-9 col-sm-9 col-md-6">
            <div class="row">
              <button type="button" (click)="aniadirAlCarrito(producto)" class="btn btn-outline-success btn-xs">
                <fa-icon icon="plus"></fa-icon>
              </button>
              <span>&nbsp;</span>
              <h5>{{cantidadEnCarrito(producto)}}</h5>
              <span>&nbsp;</span>
              <button type="button" (click)="quitarDelCarrito(producto)" [disabled]="noHayEnCarrito(producto)" class="btn btn-outline-danger btn-xs">
                <fa-icon icon="minus"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="col-12">
          <hr>
        </div>


      </div>
    </div>

    <div class="card-footer">
      <div class="row">

        <div class="col">
          Total: <b> $ {{usuarioLogueado.shoppingCart.getTotal() | number:'1.0-2'}}</b>
        </div>

        <div class="col">
          <button [routerLink]="'/finalizar'" [disabled]="noPuedeFinalizarCompra()" class="btn btn-primary float-right">Finalizar Compra</button>
        </div>

      </div>
    </div>

  </div>